{% extends "layout.html" %}
{% block body %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">We help companies with their technology needs</div>
            <div class="intro-lead-in">We'd like to help you</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">What we can offer you.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">We can help you setup your business online and start selling your products/services.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>
                <p class="text-muted">We can create or transition your website to work on mobile devices.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Security</h4>
                <p class="text-muted">We can help your internal network, hardware and website get secure and stay secure.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Networking</h4>
                <p class="text-muted">We can evaluate your current internal networking situation and advise on optimized or more secure setups.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Training</h4>
                <p class="text-muted">We provide training on software, networking setup and maintenance, and many other technology based topics.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Code Review</h4>
                <p class="text-muted">We can review your current code for best practices, maintenance, and security.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">What, Where, When, Why.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/about/2.jpg') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>What</h4>
                                <h4 class="subheading">What can we do for you?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We are a technology company that specializes in helping businesses with all of their technology needs.  This includes hardware, software, website or process.  Customer satisfaction is a priority for us.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/about/1.jpg') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Where</h4>
                                <h4 class="subheading">Where are we at?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our main office is based in San Antonio, TX.  We have successfully worked remotely for many clients and utilize many tools that will help you know the current status of the project we are working on.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/about/3.jpg') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>When</h4>
                                <h4 class="subheading">How long have we been doing this?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We have been providing our services since 2000 for many clients.  We hope you decide to become one of them.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/about/4.jpg') }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Why</h4>
                                <h4 class="subheading">Why do we do what we do?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We love easing technology needs for people and businesses making their lives better and their products more successful.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Contact<br/>Us For<br/>More Info</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <h3 class="section-subheading text-muted">primarily one but we subcontract out to a list of very good developers and designers.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="{{ url_for('static', filename='img/team/jason.png') }}" alt="">
                    <h4>Jason Meridth</h4>
                    <p class="text-muted">Owner/Principal Software Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/jmeridth"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://twitter.com/jmeridth"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://linkedin.com/in/jmeridth"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted">We currently have over {{ years_experience }} years of production experience in small business and enterprise software development.  Please <a href="mailto:jason@meridth.io">email</a> or <a href="tel:210-383-9375">call</a> if you'd like to discuss how we can help your technology needs.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
